* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: 'Courier Prime', monospace;
  font-size: 100px;
  color: #ded8d9;
  text-align: center;
  background-color: #7e2c42;
  padding-top: 15px;
}
h2 {
  text-align: left;
  font-size: 32px;
  background-color: #220f14;
  max-width: 200px;
  color: white;
  padding-left: 20px;
  margin-left: 24px;
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
}
.img {
  float: right;
  border-radius: 50%;
  border: solid #7e2c42 3px;
  max-height: 150px;
  margin-left: 15px;
  margin-top: 0px;
  margin-right: 50px;
  margin-bottom: 30px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.basics {
  background-color: #220f14;
  width: 45%;
  padding-left: 100px;
  text-align: justify;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Courier Prime', monospace;
}
.story {
  background-color: #220f14;
  width: 55%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Courier Prime', monospace;
}
.bio {
  max-width: 500px;
  font-size: 20px;
  color: white;
  padding-top: 40px;
  border-left: solid #7e2c42;
  padding-left: 44px;
  color: #cdc3c6;
}
.bioimg {
  display: flex;
  flex-direction: row;
  padding-right: 50px;
}

.fields {
  padding-top: 40px;
  font-size: 20px;
  color: white;
  padding-left: 49px;
}
.pair {
  display: flex;
  flex-direction: row;
  padding: 1px;
}

.field {
  margin-right: 20px;
  color: #cdc3c6;
}

a {
  color: #c6a4bc;
}
a:hover {
  color: #2c7e68;
}
